@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
.container {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
}
.hero {
  display: flex;
  align-items: center;
  background-image: grey;
  justify-content: flex-start;
}

.title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #cf0000;
  font-family: "Roboto Mono", monospace;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
