.card {
  min-width: 800px;
  background-color: #cf0000;
  padding: 1.5em;
  margin-bottom: 1em;
  clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  display: flex;
}
.botDetails {
  flex: 8;
}
.cardTitle {
  font-size: 1.5em;
}

.titleStyle {
  font-size: 1.5rem;
  color: #e6e6e6;
}
.cardDesc {
  font-size: 1.25em;
}

.descStyle {
  font-size: 1.25rem;
  color: #e6e6e6;
}
.cardButton {
  flex: 2;
}
.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0fabbc;
}

.showAlgoButton {
  height: fit-content;
  background-color: #0fabbc;
  border-radius: 5px;

  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
}

.addToCartButton {
  height: fit-content;
  background-color: #cf0000;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
}
