.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.homeLink {
  font-size: 1.25em;
  font-weight: 800;
}

.homeLink :hover {
  color: #cf0000;
}
