@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  background: -webkit-linear-gradient(#12cad6, #f2fcfe);
  background: linear-gradient(#12cad6, #f2fcfe);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
